includes:
- vendor/nunomaduro/larastan/extension.neon
- vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
parameters:
  level: max
  paths:
  - src
  # As long as we support multiple Laravel versions at once, there will be some dead spots
  reportUnmatchedIgnoredErrors: false
